#__pixels__controls .control-bar {
  position: absolute;

  background: var(--controls-color-background);

  pointer-events: all;
  cursor: default;
}

#__pixels__controls .control-bar:hover {
  background: var(--controls-color-background-hover);
}

#__pixels__controls[is-dragging='true'] .control-bar {
  cursor: grabbing;
}

#__pixels__controls .control-bar[is-selected='true'] {
  background: var(--controls-color-background-selected);
}

#__pixels__controls .vertical-control {
  height: var(--controls-width);
  width: var(--controls-depth);

  margin-top: var(--controls-offset);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

#__pixels__controls.left .vertical-control {
  transform: rotate(180deg);
}

#__pixels__controls .horizontal-control {
  width: var(--controls-width);
  height: var(--controls-depth);

  margin-left: var(--controls-offset);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

#__pixels__controls.top .horizontal-control {
  transform: rotate(180deg);
}

#__pixels__controls .delete-button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  color: var(--controls-color-delete);
  background: var(--controls-color-delete-background);
  font-size: 6px;
}

#__pixels__controls .delete-button:hover {
  background: var(--controls-color-delete-background-hover);
}

#__pixels__controls .vertical-control .delete-button {
  right: 0;
  height: var(--controls-width);
  width: var(--controls-delete-width);

  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

#__pixels__controls .horizontal-control .delete-button {
  bottom: 0;
  width: var(--controls-width);
  height: var(--controls-delete-width);

  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
