#root {
  display: flex;
  justify-content: center;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: calc(100vh - 1rem);
  max-width: 50rem;
}

.introduction {
  text-align: center;
  padding: 5vh 0;
}

.introduction h1 {
  font-size: 15vw;
}

a,
a:visited {
  color: var(--mdc-theme-secondary-dark);
}

::selection {
  color: var(--mdc-theme-secondary-text);
  background: var(--mdc-theme-secondary-dark); /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: var(--mdc-theme-secondary-text);
  background: var(--mdc-theme-secondary-dark); /* Gecko Browsers */
}

.cta {
  margin: 4rem 0;
}

.cta a {
  text-decoration: none;
}

.cta .mdc-button {
  background: var(--mdc-theme-secondary);
}