form .active {
  color: var(--form-color-active);
}

form .inactive {
  color: var(--form-color-inactive);
}

form .row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  padding: 1rem 0;
}

form .row.side-by-side {
  justify-content: space-between;

  padding: 0;
}

form .row.side-by-side .mdc-text-field {
  width: calc(50% - 0.5rem);
}

form h3 {
  /* margin-bottom: 0; */
}

form .thin-top {
  margin-top: 0;
  padding-top: 0;
}

form .thin-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
