:root {
  --mdc-theme-primary: #212121;
  --mdc-theme-primary-light: #484848;
  --mdc-theme-primary-dark: #000000;
  --mdc-theme-primary-text: #ffffff;

  --mdc-theme-secondary: #0277bd;
  --mdc-theme-secondary-light: #58a5f0;
  --mdc-theme-secondary-dark: #004c8c;
  --mdc-theme-secondary-text: #ffffff;

  --color-white: #ffffff;
  --color-red: #a00037;
  --color-white-transparent: rgba(255, 255, 255, 0.95);
  --color-background-light: #f8f8f8;

  --book: azo-sans-web, sans-serif;
  --bold: azo-sans-uber, sans-serif;

  --max-width: 100vw;
  --max-height: 100vh;

  --border-color: #000000;
  --border-radius: 3px;

  /* Form */
  --form-color-active: var(--mdc-theme-secondary);
  --form-color-inactive: var(--mdc-theme-primary-light);

  /* Ruler */
  --ruler-color-background: #ffffff;
  --ruler-color-tick: #000000;

  /* Controls */
  --controls-color-background: rgba(0, 0, 0, 0.3);
  --controls-color-background-hover: rgba(0, 0, 0, 0.7);
  --controls-color-background-selected: rgba(0, 0, 0, 1);
  --controls-depth: 35px;
  --controls-width: 15px;
  --controls-offset: -8px;
  --controls-delete-width: 15px;
  --controls-color-delete: #ffffff;
  --controls-color-delete-background: none;
  --controls-color-delete-background-hover: #a00037;
}

body {
  font-family: var(--book);
  font-weight: 400;
  font-style: normal;
}

.bold {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
.header {
  font-family: var(--bold);
  font-weight: 400;
  font-style: normal;
}

/* MDC Resets */
.mdc-button {
  font-family: var(--book);
}

.mdc-button.mdc-ripple-surface--accent {
  background-color: var(--mdc-theme-secondary);
}
