#__pixels__horizontal-ruler, #__pixels__vertical-ruler {
  position: fixed;
  pointer-events: all;
  cursor: crosshair;

  margin: 0;

  background: var(--ruler-color-background) !important;
}

#__pixels__horizontal-ruler.bottom-right {
  bottom: 0;
  left: 0;
}

#__pixels__horizontal-ruler.bottom-left {
  bottom: 0;
  right: 0;
}

#__pixels__horizontal-ruler.top-right {
  top: 0;
  left: 0;
}

#__pixels__horizontal-ruler.top-left {
  top: 0;
  right: 0;
}

#__pixels__vertical-ruler.bottom-right {
  top: 0;
  right: 0;
}

#__pixels__vertical-ruler.bottom-left {
  top: 0;
  left: 0;
}

#__pixels__vertical-ruler.top-right {
  bottom: 0;
  right: 0;
}

#__pixels__vertical-ruler.top-left {
  bottom: 0;
  left: 0;
}
