.markdown {
  display: flex;
  justify-content: center;
  
  width: 100%;
}

.markdown > div {
  max-width: calc(100vw - 4rem);
  width: 100%;
}

.markdown img,
.markdown iframe {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.markdown hr {
  margin: 2rem 0;
}

.markdown a {
  text-decoration: underline;
}

.markdown p > img,
.markdown iframe {
  margin: 4rem auto;
}

.markdown h2:not(:first-of-type),
.markdown h3:not(:first-of-type) {
  margin-top: 5rem;
}

.markdown li:not(:first-of-type) {
  margin-top: 0.5rem;
}

.markdown p.background img {
  margin: 0 auto;
  border-radius: var(--border-radius-large);
}


a img {
  width: 150px;
}

h3 {
  font-size: 1rem;
}
