#__pixels_wrapper__ {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 1000000;
  pointer-events: none;
}

#__pixels_content__ {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#__pixels_content__ canvas {
  background: none;
  margin: 0;
  padding: 0;
}
