#dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  width: 15rem;
  max-width: 98vw;
}

#dashboard form {
  margin: 1rem;
  width: calc(100% - 2rem);
}
